.down {
    text-align: center;
}

.down a {
    bottom: 20px;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
  }
  .down a:hover {
    opacity: .5;
  }

  .btn-outline-light:hover {
    color:  #7e006d;
    background-color: white;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
  }

  .btn-outline-light {
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;    
  }